body {
  padding-top: 60px;

  background-color: #2C3E50;
}
table {
  position: relative;

  width: 100%;
  margin-bottom: 40px;

  background-color: #1ABC9C;
}
td {
  width: 33.33%;
  height: 150px;

  content: " ";
  cursor: pointer;
  text-align: center;

  color: #444;
  border-right: 4px solid #269c85;

  font-size: 84px;
}
tr {
  border-bottom: 4px solid #269c85;
}
tr:last-child, td:last-child {
  border: none;
}
h1 {
  color: #A1B1BC;
}
#message {
  position: absolute;
  right: 0;
  left: 0;

  display: none;

  height: 100%;
  margin: 0 auto;
  padding: 200px 40px 0 40px;

  color: #c7f8ee;
  background: #1abc9c;
}
h2#message span {
  font-size: 84px;
}

.panel {
  margin-top: 20px;
  padding-bottom: 20px;

  border-radius: 0 0 12px 12px;
  background-color: #F2F2F2;
}
.restart-container {
  margin-top: 10px;
  padding-top: 20px;

  border-top: 2px solid #b1dad2;
}
#user-track {
  color: #81a69f;

  font-size: 24px;
}
#user-track p {
  height: 34px;

  color: #2f917e;
}
.ok-link {
  display: inline-block;

  padding-top: 40px;

  color: #217867;

  font-size: 38px;
}
.ok-link:hover {
  color: #25f0c8;
}
a {
  text-decoration: none;

  color: #1ABC9C;

  font-size: 18px;
}
a:hover, a:active, a:focus {
  text-decoration: none;

  color: #217867;
}
.color-light {
  color: #F2EBD3;
}
.color-dark {
  color: #444;
}
.off { pointer-events: none; }

/*.on { pointer-events: auto; }*/
